fastapi
uvicorn
pandas
matplotlib
python-dotenv
langchain
langchain-core
langchain-community
langchain-experimental
langgraph
langgraph-checkpoint-sqlite
langsmith
langchain-openai
aiofiles
reportlab
python-docx
openpyxl
aiosqlite
tavily-python
msal
python-multipart